<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="8192" maxQueryString="8192" />
        <fileExtensions>
          <add fileExtension=".asa" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <tracing>
      <traceFailedRequests>
        <add path="*.py">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="500" verbosity="Error" />
        </add>
      </traceFailedRequests>
    </tracing>
        <handlers>
            <add name="Python" path="*.py" verb="*" type="C:\Python27\python.exe -u %s" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
  </system.webServer>
  <system.web>
    <identity impersonate="false" />
    <compilation debug="true" />
  </system.web>
</configuration>